version: "3.9"

services:
  iris-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: iris_api
    ports:
      - "8000:8000"
    volumes:
      - ./models:/app/models:ro
    restart: unless-stopped
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - mlflow
    networks:
      - mlops-network

  mlflow:
    build:
      context: .
      dockerfile: Dockerfile.mlflow
    container_name: mlflow_ui
    ports:
      - "5000:5000"
    volumes:
      - ./mlruns:/mlflow/mlruns
      - ./mlflow.db:/mlflow/mlflow.db
    restart: unless-stopped
    environment:
      - MLFLOW_BACKEND_STORE_URI=sqlite:////mlflow/mlflow.db
      - MLFLOW_DEFAULT_ARTIFACT_ROOT=/mlflow/mlruns
    networks:
      - mlops-network

networks:
  mlops-network:
    driver: bridge