services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: iris_api
    ports:
      - "8000:8000"
    depends_on:
      - mlflow

  mlflow:
    build:
      context: .
      dockerfile: Dockerfile.mlflow
    container_name: iris_mlflow
    ports:
      - "5000:5000"

  minio:
    image: minio/minio:latest
    container_name: iris_minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

volumes:
  minio_data:
